* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #774680;

}

.container {
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.appContainer{
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
  display: grid;

}

.screen {
  width: 90%;
  margin: 5px auto;
  padding: 20px;
  font-size: 21px;
  outline: none;
}

.btns {
  display: grid;
  grid-template-columns: repeat(3, 66px);
  margin: 0 auto;
}

.num {
  background-color: blue;
  font-size: 23px;
  padding: 1rem;
}

.num:hover{
  background-color: red;
}

.btnsTop{
  display: block;
  grid-column: span 4;
}

.mid {
  background-color: blueviolet;
}

.clear{
  width: 8rem;
  background-color: red;

}

.equal{
  width: 8rem;
  background-color: green;
}